<p>
  quiz-page works!
</p>
<mat-card>
<mat-grid-list cols="3" >
    <mat-grid-list cols="12" style="background-color:lightgreen">
        <mat-grid-tile
            [colspan]="12"
            [rowspan]="1"
            [style.background]="'lightpink'">
          <mat-card class="" >Category:</mat-card>
          <mat-card class="" >Score: {{userScore}}</mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" style="background-color:lightblue">
          <mat-grid-tile
              [colspan]="12"
              [rowspan]="2"
              style.background="lightgreen">
            {{currentQuestion}}
          </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="isOptionEnabled == false" class="container">
            <mat-form-field>
                <textarea matInput placeholder="Type Answer" [(ngModel)]="inputText"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="isOptionEnabled == true" class="container">
            <mat-grid-list cols="12" rowHeight="12:3" style="background-color:lightpink">
                <mat-grid-tile
                *ngFor="let ans of arrCurrentAnswer"
                [colspan]="6"
                [rowspan]="3"
                >
              <button mat-button (click)="buttonAnswerTapped(ans)">{{ans}}</button>
            </mat-grid-tile>
            </mat-grid-list>
        </div>
          <mat-grid-list cols="12" style="background-color:lightgreen">
              <mat-grid-tile
                  [colspan]="12"
                  [rowspan]="1"
                  style.background="lightgreen">
                  <button mat-button (click)="buttonNextTapped()">Next</button>
                  <button mat-button (click)="openDialog()">Quit</button>
                  <button mat-button (click)="buttonHintTapped()">Hint</button>

              </mat-grid-tile>
            </mat-grid-list>
  </mat-grid-list>
</mat-card>
