.bottomView {
  position: fixed;
  bottom: 0;
}

.badge {
  margin: 10px;
}
.btn-submit-user-input {
  background-color: white;
  border: 2px solid #004d99;
  margin: 20px;
  color: #004d99;
  border-radius: 50%;
  font-size: 24px;
  padding: 4%;
}

.btn-submit {
  background-color: #3399ff;
  margin: 3px;
  color: white;
}

.btn-hint {
  margin: 30px;
}
.btn-answer {
  background-color: white;
  border: 2px solid #3399ff;
  color: #3399ff;
  width: 90%;
  max-height: 100%;
  margin: 0 auto;
  float: left;
  overflow-wrap: break-word;
}
.btn-answer:focus {
  background-color: lightskyblue;
}

#button-area {
  margin-top: 1%;
}
.example-card {
  display: flex;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: rgb(180, 214, 241);*/
  padding: 10px;
  display: flex;
  /*justify-content: space-around;*/
}
