<div *ngIf="isQuizContentEmpty == true; else quizView" class="container">
  <h5>No Questions in this category!</h5>
  <h5>Please choose a new category!</h5>
  <button class="btn-submit-user-input" (click)="changeCategory()">
    Choose new category
  </button>
</div>

<ng-template #quizView>
  <mat-grid-list cols="12">
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile class="badges-display" [colspan]="6" style="margin:15px">
      <h4>
        <span class="badge badge-pill badge-info"
          >Category: {{ category }}
        </span>
      </h4>
      <h4>
        <span class="badge badge-pill badge-info">Score: {{ userScore }}</span>
      </h4>
      <!---<mat-card class="">Category: {{ category }}</mat-card>
            <div *ngIf="ageRange == 3">
              <mat-card class="">Score: {{ userScore }}</mat-card>
            </div>-->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
  </mat-grid-list>
  <mat-card class="quiz-card">
    <!--<div id="question-area">-->
    <mat-grid-list cols="5">
      <mat-grid-list cols="12">
        <!-- <mat-grid-tile [colspan]="12" [rowspan]="3" style="display:block"> -->
          <h5>{{ currentQuestion }}</h5>
        <!-- </mat-grid-tile> -->
      </mat-grid-list>
      <div *ngIf="isOptionEnabled == false" class="container">
        <mat-form-field>
          <textarea
            matInput
            placeholder="Type Answer"
            [(ngModel)]="inputText"
          ></textarea>
        </mat-form-field>
        <button
          mat-button
          class="btn btn-dark btn-hint"
          (click)="buttonHintTapped()"
        >
          Hint
        </button>
      </div>
      <div *ngIf="isOptionEnabled == true" class="container">
        <mat-grid-list cols="12">
          <mat-grid-list
            *ngFor="let ans of arrCurrentAnswer"
            class="grid-container"
            cols="12"
          >
            <button
              class="btn-answer"
              (click)="buttonAnswerTapped(ans)"
            >
              {{ ans }}
            </button>
          </mat-grid-list>
        </mat-grid-list>
      </div>
    </mat-grid-list>
  </mat-card>
  <div id="button-area">
    <button mat-button class="btn-submit" (click)="buttonNextTapped()">
      Next
    </button>
    <button mat-button class="btn-submit" (click)="buttonQuitTapped()">
      Quit
    </button>
  </div>
  <!--</div>-->
</ng-template>
