.bottomView {
  position: fixed;
  bottom: 0;
}

.badge {
  margin: 10px;
}

h5 {
  color: #004d99;
  margin: 20px;
}

.btn-submit-user-input {
  background-color: white;
  border: 2px solid #004d99;
  margin: 20px;
  color: #004d99;
  border-radius: 50%;
  font-size: 24px;
  padding: 4%;
}

.btn-submit {
  background-color: #3399ff;
  margin: 3px;
  color: white;
}

.btn-hint {
  margin: 30px;
}

.btn-answer {
  background-color: white;
  border: 2px solid #3399ff;
  color: #3399ff;
  padding: 5px;
  margin: 5px;
  width: 50%;
  height: 75%;;
}
.btn-answer:hover {
  background-color: lightskyblue;
  color: white;
}
.btn-answer:focus {
  background-color: lightskyblue;
  color: white;
}

#button-area {
  margin-top: 1%;
}
.example-card {
  display: flex;
}
.grid-container {
  display: inline;
  grid-template-columns: auto auto auto;
}
