.bottomView {
  position: fixed;
  bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(180, 214, 241);
  padding: 10px;
}
.badge {
  margin: 10px;
}

.btn-submit {
  background-color: #3399ff;
  margin: 3px;
  color: white;
}

.btn-hint {
  margin: 30px;
}
