<p xmlns="http://www.w3.org/1999/html">
</p>
<div *ngIf="flag == true">
<div *ngFor="let custom of allCustom">
  <a class="page-link" role="link" (click)="loadCustomQuiz(custom.FileName)">{{custom.FileName}}</a>
</div>
</div>
<div *ngIf="flag == false">
  <div *ngFor="let ques of customQuiz[0]">
    <li class="question">{{ques.question}}</li>
    <br>
    <div class="" *ngFor="let option of ques.answers">
      <label><input type="radio" class="answers"/>{{option}}</label>
    </div>
    <hr>
  </div>
</div>
