.container {
    background-color: #004d99;
    margin-top: 10px;
    margin-bottom: 10px;
}

header-row{
  padding: 2vh;
}

h1 {
    text-align: left;
    color: white;
}

h5 {
    text-align: right;
    color: white;
}

button {
    background-color: white;
    border: 2px solid white;
    color: #004d99;
    border-radius: 6px;
}

.input-username {
    border: 2px solid white;
    border-radius: 8px;
    width: 70%;
    margin: 5px;
}

.div-input{
  padding-top: 5px;
  padding-bottom: 5px;
}
