<div class="container">
  <div class="row">
    <div class="column">
      <h1>{{ logo }}</h1>
    </div>  
    <div *ngIf="ageRange!='default'" class="column">
        <input #newUsername [hidden]="!usernameToggle" placeholder="Username"/>
        <button *ngIf="username=='User'" (click)="addUserOnClick(newUsername.value)">{{createUserNameBtn}}</button>
        <p>Hi {{ username }}!</p>
    </div>
    <div *ngIf="ageRange!='default' && username=='User'" class="column">
      <button (click)="goToAgeSelect()">Change Age</button>
    </div>
  </div>
</div>
