
<div class="container">
  <div class="row">
      <button class="col-lg-4 btn-primary" (click)="child('User')">Child</button>
      <button class="col-lg-4 btn-primary" (click)="teen('User')">Teen</button>
      <button class="col-lg-4 btn-primary" (click)="adult('User')">Adult</button>
  </div>
  
  <div class="row">
    <input #username (keyup.enter)="onEnterUsername(username.value)" 
           placeholder="Enter your username here.">
    <button (click)="onEnterUsername(username.value)">Ok!</button>
  </div>

</div>

