<div class="container">

  <div class="row btn-group">
      <button class="btn-age-category col-sm-3" (click)="child('User')">
        <span style="font-size: 30px; display: block">CHILD</span> 
        <span style="font-size: 17px; text-align: center">(ages up to 12)</span>
      </button>
      <button class="btn-age-category col-sm-3" (click)="teen('User')">
        <span style="font-size: 30px; display: block">TEEN</span> 
        <span style="font-size: 17px; text-align: center">(ages 13 to 19)</span>
      </button>
      <button class="btn-age-category col-sm-3" (click)="adult('User')">
        <span style="font-size: 30px; display: block">ADULT</span> 
        <span style="font-size: 17px; text-align: center">(ages 20 and above)</span>
      </button>
  </div>

  <div class="row line-break"></div>
  
  <div class="row enter-username">
    <input class="enter-user-input" #username (keyup.enter)="onEnterUsername(username.value)" 
           placeholder="Enter your username here.">
    <button class="btn-submit-user-input" (click)="onEnterUsername(username.value)">Ok!</button>
  </div>
</div>

