.btn-group {
<<<<<<< HEAD
    display: inline-block;
    margin-top: 2%;
    width: 100%
}

.btn-group button {
    background-color: deepskyblue;
    border: 2px solid deepskyblue;
    color: white;
    padding: 3%;
    margin: 10px;
    width: 100%
}

.btn-group button:hover {
    background-color: lightskyblue;
}

.line-break {
    background-color: lightgrey;
=======
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.line-break {
    background-color: lightskyblue;
>>>>>>> e9e35829d2ce7f09f13915d27d02c74c6f209fb3
    width: 100%;
    height: 1px;
}

.enter-username {
    align-content: center;
    height: 100px;
    display: inline-flex;
<<<<<<< HEAD
}

.btn-enter-username {
    background-color: white;
    border-color: 5px solid gainsboro;
    margin: 2px;
    color: black
=======
    justify-content: space-evenly;
<<<<<<< HEAD
>>>>>>> e9e35829d2ce7f09f13915d27d02c74c6f209fb3
=======
}

.enter-user-input {
    border: none;
    border-bottom: 2px solid #004d99;  
    height: 50%;
    text-align: center;
    align-self: center;
}

.btn-submit-user-input {
    background-color: white;
    border: 2px solid #004d99;
    margin: 20px;
    color: #004d99;
    border-radius: 50%;
    font-size: 24px;
    padding: 10px;
}

.btn-age-category {
    background-color: #3399ff;
    border: 2px solid #3399ff;
    color: white;
    width: 100%;
    font-size: 24px;
    padding: 2%;
    margin: 10px;
}

.btn-age-category:hover {
    background-color: deepskyblue;
>>>>>>> dc3d210094b1d1693be05e127f29349f77e2e68c
}