h1 {
  border-radius: 50%;
  padding: 5%;
  align-self: center;
}

h2 {
  color: #004d99;
  margin: 50px;
}

h4 {
  margin: 20px;
}

h6 {
  color: darkblue;
}

.btn-group {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 2%;  
  width: 100%;
}

.btn-result-page {
  background-color: white;
  border: 2px solid #3399ff;
  color: #3399ff;
  width: 30%;
  padding: 2%;
  margin: 10px;
}

.btn-result-page:hover {
  background-color: lightskyblue;
  color: white;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-flex;
}

.itemsBlock {
  margin-left: 15px;
  margin-right: 15px;
}

.review-answer {
  display: contents;
}

.line-break {
  background-color: lightgrey;
  width: 100%;
  height: 1px;
  margin: 2px;
}

#result {
  width: 100%;
}