<p xmlns="http://www.w3.org/1999/html">
</p>
<div *ngIf="ageRange == 'teen' && isQuizPageToBeLoaded == false" class="container">
    <div class="row">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark col-lg-12">
   
        <a class="navbar-brand col-lg-4" href="#">QUIZ-IT</a>
      <!-- Links -->
      <ul class="navbar-nav col-lg-8">
        <li class="nav-item col-lg-6">
          <a class="nav-link" href="#">RANDOM</a>
        </li>
        <li class="nav-item col-lg-6">
          <a class="nav-link" href="#" (click)="view()">{{text}}</a>
        </li>
      </ul>
  </nav>
    </div>
    <div *ngIf="text != 'Category'" class="row itemsBlock">
        <div *ngFor="let cat of all_categories" class="col-md-4 col-md-4 col-12">
            <button (click)="getQuiz(cat.id)" class="mat-background-primary"><img class="category-tile" src = {{cat.img}}></button>
          <h4>{{cat.name}}</h4>
        </div>
    </div>
    <div *ngIf="text === 'Category'" class="list-group">
      <div class="row btn-group align-middle" *ngFor="let custom of allCustom">
        <button (click)="loadCustomQuiz(custom.FileName)">
          {{custom.name}}
        </button>
      </div>
    </div>
</div>


<div *ngIf="ageRange == 'child' && isQuizPageToBeLoaded == false" class="container">
  <div class="row btn-group">
    <button (click)="buttonRandomClicked()">Play Randon Quiz</button>
  </div>
  <div class="row itemsBlock">
  <div *ngFor="let cat of all_categories" class="col-md-4">
    <button (click)="getQuiz(cat.id)" class="mat-background-primary"><img class="category-tile" src = {{cat.img}}></button>
    <h4>{{cat.name}}</h4>
  </div>
  </div>
  </div>
  

<div *ngIf="ageRange == 'adult' && isQuizPageToBeLoaded == false" class="container">
        <div class="row">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark col-lg-12">
              <!-- Links -->
              <ul class="navbar-nav col-lg-8">
                <li class="nav-item dropdown col-lg-6">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        ALL CATEGORIES
                    </a>
                      <ul class="dropdown-menu">
                        <li style="text-align: center" *ngFor="let cat of all_categories">
                            <a role="button" class="dropdown-item" (click)="getQuiz(cat.id)">{{cat.name}}</a>
                        </li>
                      </ul>
                </li>
                <li class="nav-item col-lg-12">
                  <a class="nav-link" href="#">TAKE A RANDOM QUIZ</a>
                </li>
              </ul>    
          </nav>
          <div class="col-lg-6">
           <h2>Most Played Quizzes</h2>
            <div class="row btn-group" *ngFor="let cat of all_categories | slice:0:8">
                <button (click)="getQuiz(cat.id)" class="btn-primary">
                    {{cat.name}} ({{cat.hits}} hits)
                </button>
            </div>
          </div>
          <div class="col-lg-6">
            <h2>Play Custom Quiz</h2>
            <div class="row btn-group" *ngFor="let custom of allCustom">
                <button (click)="loadCustomQuiz(custom.FileName)">
                  {{custom.name}}
                </button>
            </div>
          </div>
    </div>
  </div>

  <div *ngIf="isQuizPageToBeLoaded == true" class="list-group">
    <app-quiz-page [arrQuizContent]="json_quiz"></app-quiz-page>
  </div>  


