.category-tile{
    height: 15em;
    width: 15em;
}

.container {
  background-color: lightcyan;
  margin-top: 10px;
  margin-bottom: 10px
}

.btn-internal-transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

h2 {
  text-align: left;
}
