.category-tile{
    height: 20vh;
    width: 20vh;
}
<<<<<<< HEAD
button {
=======

.container {
  margin-top: 10px;
  margin-bottom: 10px
}

.btn-internal-transparent {
>>>>>>> e9e35829d2ce7f09f13915d27d02c74c6f209fb3
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
<<<<<<< HEAD
.btn-group {
  display: inline-block;
  margin-top: 2%;
  width: 100%;
}

.btn-group button {
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
  color: white;
  padding: 3%;
  margin: 10px;
  width: 100%
}

.btn-group button:hover {
  background-color: lightskyblue;
}
.container {
  background-color: lightcyan;
  margin-top: 10px;
  margin-bottom: 10px
}
=======
>>>>>>> e9e35829d2ce7f09f13915d27d02c74c6f209fb3

h2 {
  text-align: left;
}

.btn-main-category {
  background-color: #3399ff;
  border: 2px solid #3399ff;
  color: white;
  width: 100%;
  padding: 2%;
  margin: 10px;
}

.btn-main-category:hover {
  background-color: deepskyblue;
}

.navbar {
  border-top: 2px solid #3399ff;
  border-bottom: 2px solid #3399ff;
  background-color: white;
  margin-bottom: 10px;
}

.navbar-button {
  color: #3399ff;
  font-size: 20px;
}

.navbar-button:hover {
  background-color: #3399ff;
  color: white;
}